<section id="six" class="main style2 special">
    <div class="container">
        <header class="major">
            <h2>Contact Us</h2>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <span class="col-content">Monday-Sunday</span>
                </div> 
                <div class="col-5">
                    <span class="col-content">9:00am-8:00pm</span>
                </div>            
            </div>

            <div class="row">
                <div class="col-5">
                    <span class="col-content">Address: 23131 Ecorse Rd. Taylor, MI 48180</span>
                </div>
        
                <div class="col-5">
                    <span class="col-content">Phone No: (248)385-4877 </span>
                </div>
            </div>
            <div class="row">
                
                <div class="col-5">
                    <span class="col-content">Email:&nbsp;&nbsp;
                         <a href = "mailto: contactus&#64;weplayofficial.com" 
                            style = "font-size: 15px;"> 
                            contactus&#64;weplayofficial.com
                        </a>
                    </span>
                </div>
                <div class="col-5 col-instagram">
                    <span class="col-content">Follow us on Instagram</span>
                    <a class="col-instagram-icon" href="https://www.instagram.com/weplay_playground/" target="_blank">
                        <img src="./assets/icons/instagram-old.png">
                    </a>
                </div>              
            </div>   
        </div>
        <div id="map"></div>
    </div>
</section>
