<div class="container mt-5">

   <!-- Subscrilption Services Section -->
  <div  class="ticket-section" >
    
    <div class="section-header">
      <div class="section-header-top">
        <span class="section-header-top-title">Membership</span>
      </div>
      <div class="section-header-buttom">
          <div class="section-header-buttom-content">
            <p class="align-left"> <strong>Unlimited Entry</strong>– Visit as often as you like!</p>
            <p class="align-left"> <strong>NO restrictions</strong>– Enjoy any day, including weekends.</p>
            <p class="align-left"> <strong>Access to Events & Classes</strong> – Free with all materials provided!</p>
            <p  class="align-left"><strong>Please click <button type="button"  (click)="openVideo()" class="btn btn-link">Our activities</button></strong></p>
          </div>
          <div class="video-overlay" id="videoOverlay"  *ngIf="isVideoVisible">
            <div class="video-container">
              <button class="close-button" (click)="closeVideo()">×</button>
              <video controls autoplay>
                <source src="assets/video/activities.mp4" type="video/mp4">         
              </video>
            </div>
          </div>
      </div>
    </div>
    <div class="section-body">
      <div class="columns">
        <ul class="price">
          <li class="header">
            <img src="assets/icons/weplay/weplaylogo.png" class="card-img-top" >
          </li>
          <li class="grey">Membership for one child</li>
          <li class="grey"><strong>$ 60 / month</strong></li>
          <li class="grey" style="height: 55px;"><a href="#" class="button">Sign Up</a></li>
        </ul>
      </div>

      <div class="columns">
        <ul class="price">
          <li class="header">
            <img src="assets/icons/weplay/weplaylogo.png" class="card-img-top" >
          </li>
          <li class="grey">Membership for two children</li>
          <li class="grey"><strong>$ 115 / month</strong></li>
          <li class="grey" style="height: 55px;"><a href="#" class="button">Sign Up</a></li>
        </ul>
      </div>
      <div class="columns">
        <ul class="price">
          <li class="header">
            <img src="assets/icons/weplay/weplaylogo.png" class="card-img-top" >
          </li>
          <li class="grey">Membership for three children</li>
          <li class="grey"><strong>$ 165 / month</strong></li>
          <li class="grey" style="height: 55px;"><a href="#" class="button">Sign Up</a></li>
        </ul>
      </div>
      <div class="columns">
        <ul class="price">
          <li class="header">
            <img src="assets/icons/weplay/weplaylogo.png" class="card-img-top" >
          </li>
          <li class="grey">Membership for four children</li>
          <li class="grey"><strong>$ 195 / month</strong></li>
          <li class="grey" style="height: 55px;"><a href="#" class="button">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="ticket-section">
    <div class="section-header">
      <div class="section-header-top">
        <span class="section-header-top-title">Tickets</span>
      </div>
      <div class="section-header-buttom">
        <div class="section-header-buttom-content">
          <p class="align-left"><strong>3-Hour Playtime Limit.</strong></p>
          <p class="align-left"><strong>No Expiration</strong> — Pass valid from 10 AM - 8 PM.</p>
          <p class="align-left"><strong>Adult Supervision Required.</strong></p>
          <p class="align-left"><strong>Waiver Required.</strong> Please Sign online for a quick and easy check-in. </p>          
        </div>
       
      </div>
    </div>

    <div class="section-body">
    
        <ul class="price">
          <li class="header" style ="border: #eee solid 1px;">
            <img class="responsive" src="assets/icons/weplay/__Linkedin Cover.jpg" class="card-img-top" >
          </li>
          <li class="grey d-flex">
            <div class="grey-left flex-grow-1">
              <p class="grey-left-content" id="select-name">Children 6 months and older  <strong>$15.99</strong></p>
            </div>
            <div class="grey-right">
              <div class="input-group">
                <span class="input-group-text">Qty</span>
                <select class="form-select form-select-lg" 
                        aria-label="Children 6 months and older"
                        id="dailyPassQty"
                        data-price="15.99"
                        ng-model="dailyPassQty"
                        ng-change="updateTotalPrice()">
                        <option *ngFor="let option of dailyPassOptions" [value]="option">{{ option }}</option>
                </select>
              </div>  
            </div>            
          </li>
          <li class="d-flex">
            <div class="grey-left flex-grow-1">
              <p class="grey-left-content" id="select-name">Children Under 6 months  <strong>Free Admission</strong> </p>
            </div>
            <div class="grey-right">
              <div class="input-group">
                <span class="input-group-text">Qty</span>
                <select class="form-select form-select-lg" 
                        aria-label="Children Under 6 months"
                        id="freeAdmissionQty"
                        data-price="0" 
                        ng-model="freeAdmissionQty"
                        ng-change="updateTotalPrice()">
                        <option *ngFor="let option of additionalPass" [value]="option">{{ option }}</option>
                </select>
              </div>  
            </div> 
          </li>
          <li class="grey d-flex">
            <div class="grey-left flex-grow-1">
              <p class="grey-left-content"id="select-name">Addtional Adult Pass  <strong>$8</strong></p>
            </div>
            <div class="grey-right">
              <div class="input-group">
                <span class="input-group-text">Qty</span>
                <select class="form-select form-select-lg" 
                        aria-label="Addtional Adult Pass"
                        id="addtionalQty"
                        ng-model="addtionalQty"
                        data-price="2.00" 
                        ng-change="updateTotalPrice()" > 
                        <option *ngFor="let option of additionalPass" [value]="option">{{ option }}</option>
                </select>
              </div>  
            </div>            
          </li>
          <li class="d-flex">
            <div class="grey-left flex-grow-1">
              <p class="grey-left-content" id="select-name">Group Rate (over <strong>10</strong> Children) <strong>$13.00</strong> per booking </p>
            </div>
            <div class="grey-right">
              <div class="input-group">
                <span class="input-group-text">Qty</span>
                <select class="form-select form-select-lg"  
                        aria-label="Group Rate (over 10 Children)"                                                              
                        id="group10Qty"  
                        ng-model="group10Qty"                 
                        data-price="13.00"
                        ng-change="updateTotalPrice()">
                        <option *ngFor="let option of group10Options" [value]="option">{{ option }}</option>
                </select>
              </div>  
            </div> 
          </li>
          <li class="grey d-flex" >
            <div class="grey-left flex-grow-1">
              <p class="grey-left-content" id="select-name">Group Rate (over <strong>15</strong> Children)  <strong>$11.00</strong> per booking</p>
            </div>
            <div class="grey-right">
              <div class="input-group">
                <span class="input-group-text">Qty</span>
                  <select class="form-select form-select-lg"
                          aria-label="Group Rate (over 15 Children)"
                          id="group15Qty"
                          ng-model ="group15Qty"
                          ng-change="updateTotalPrice()"
                          data-price="11.00">
                          <option *ngFor="let option of group15Options" [value]="option">{{ option }}</option>
                    </select>
              </div>  
            </div>            
          </li>
        </ul>
    
    </div>
  </div>
  <div class="ticket-section">
    <div class="section-header">
      <div class="section-header-top">
        <span class="section-header-top-title">Your Order</span>
      </div>
    </div>
    <div class="section-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Sections</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Tickets Fees</th>
        </tr>
        </thead>
        <tbody id="order-details-body">        
        </tbody>
        <tfoot>
          <tr>
              <th colspan="3">Total Price:</th>
              <th>$<span id="total-price">0.00</span></th>
          </tr>
      </tfoot>
      </table>
      <div class="section-header-buttom">
        <div class="section-header-buttom-content">
          <p class="align-left" style="font-size: 18px;">Please complete the Online Waiver by clicking
            <a href="#" routerLink = "/waiver">
              <span style="color: #4878a3; "><strong>Online Waiver</strong></span>
            </a>
          </p>
          <p class="align-left" style="font-size: 18px;"><strong>Walk-ins always welcome!</strong></p>
        </div>

      </div>
      
    </div>
  </div>

  <div class="ticket-section">
    <div class="section-header">
      <div class="section-header">
        <div class="section-header-top">
          <span class="section-header-top-title">Purchaser Information</span>
        </div>
      </div>
    </div>
    <div class="section-body">
  <!-- Payment Form -->
      <div id="payment-form-container" class="mt-5" style="display:none;"> 
      
        <form id="payment-form" class="needs-validation" novalidate>
        <div class="row g-3" style="margin-bottom: 30px;">
            <div class="col-sm-6">              
              <label class="form-label" for="firstName">First Name: <span class="required-symbol">*</span></label>
              <input class="form-control" type="text" id="firstName" name="firstName" required />
              <div class="invalid-feedback">Please enter your first name.</div>
            </div>
            <div class="col-sm-6">             
              <label class="form-label" for="lastName">Last Name: <span class="required-symbol">*</span></label>
              <input class="form-control" type="text" id="lastName" name="lastName" required />
              <div class="invalid-feedback">Please enter your last name.</div>
            </div>
            <div class="col-sm-6">
              <label class="form-label" for="email">Email: <span class="required-symbol">*</span></label>
              <input class="form-control"  type="email" id="email" name="email" required />
              <div class="invalid-feedback">Please enter a valid email address.</div>
            </div>
            <div class="col-sm-6">
              <label class="form-label" for="phoneNo">Phone Number: <span class="required-symbol">*</span></label>
              <input class="form-control"  type="tel" id="phoneNo" name="phone" required />
              <div class="invalid-feedback">Please enter a valid Phone number.</div>
            </div>
          </div>

          <div id="card-container"></div>
          <button id="card-button" type="button" class="btn payment-button">Pay Now</button>
        </form>

        <app-payment-success-modal
          [isOpen]="showSuccessModal"
          (onClose)="handleModalClose()">
        </app-payment-success-modal>
        
        <div id="payment-status-container" class="mt-3"></div>
      </div>
    </div>
  </div>
</div>
