<div class='select-date'> 
  
    <div class='select-date-main'>
      <full-calendar  [options]='calendarOptions()'>
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
      <div class='appointment-time'>
        <h4 class='appointment-time-header'>
         {{appointmentHeader}} 
        </h4>
        <p class='appointment-time-detail'>
          <span class='appointment-time-booking-window'>
              You can book a party between 1 day and 180 days ahead of time. 
          </span>
          <span class='appointment-time-current-section'>
             <strong>Time zone: </strong> Eastern Time Zone (EST)
        </span>
        </p>
        <div class='container appointment-time-slots' *ngIf= "showSelectTime">
          <h5 class="appointment-time-category-title">Please select a time</h5>
          <div class="row row-cols-lg-3">      
            <ng-container *ngFor="let slot of dateTime.timeSlots">
              <button 
                class="col btn btn-outline-secondary" 
                (click)="selectTimeSlot(slot.time_hour)" 
                type="button" 
                *ngIf="!slot.selected">
                {{slot.time}}
          </button>
            </ng-container>

          </div>    
        </div>

      </div>
    </div>

    <div class='appointment-time-header' >         
        <h4>{{yourReservation}} </h4>          
    </div>
    
  </div>