
/* Media query for smaller screens */
@media screen and (max-width: 932px) {
  
    .foot-page-content{
        display: flex;
        flex-direction: column;
    }

    .foot-page-name{
        font-size: 15px;;
    }

  
}
/* Media query for desktop/tablet screens */
@media screen and (min-width: 933px) {
    .foot-page-content{
        display: flex;
        flex-direction: row;
    }

    .foot-page-name{
        font-size: 20px;;
    }

}

.foot-page{
    height: inherit;
    display: flex;
    justify-content: center;
}


.footerTitle{
    height: 100px;
    width: 100%;
}
.foot-page-name{
    color:olive;
    font-family: cursive;
    font-weight: bold;
}

.foot-page-copyright{
    color:olive;
    font-family: Times New Roman;
    font-size: 12px;
    margin-left: 40px;
    margin-right: 40px;
    align-self: center;
}
.social-media-icons{
    margin-left: 50px;
    align-self: center;
}
.foot-page-icon{
    margin-left: 15px;
}
