<div class="shadow">
    <div class="d-flex justify-content-between align-items-center mx-auto py-4" style="width:80%">
        <div class="d-flex align-items-center p-0 text-dark">
          
            <span class="ms-4 h5 font-weight-bold">Easy to Learn</span>
        </div>
        
        <small>&copy; Easy to Learn, 2023. All rights reserved.</small>
        <div>
            <button color="dark">
               
            </button>
            <button  color="dark" class="mx-3">
                
            </button>
            <button  color="dark">
               
            </button>
        </div>
    </div>
</div>
