<div class="foot-page">
    <p>Footer</p>
    <!-- <div class="foot-page-content">
        <div class="d-flex align-items-center p-0 text-dark">
          
            <span class="foot-page-name">WePlay & café</span>
        </div>
        
        <span class="foot-page-copyright">&copy; We Play & Cafe, 2023. All rights reserved.</span>
        <div class="social-media-icons">
            <a class="foot-page-icon" href="https://www.instagram.com/" target="_blank">
                <img src="./assets/icons/instagram-old.png">
            </a>
            <a class="foot-page-icon" href="https://www.instagram.com" target="_blank">
                <img src="./assets/icons/email-old.png">
            </a>
            <a class="foot-page-icon" href="https://www.facebook.com" target="_blank">
                <img src="./assets/icons/facebook-old.png">
            </a>
        </div>
    </div> -->
</div>
