<div class="foot-page">
     <div class="foot-page-content">
        <div class="d-flex align-items-center">          
            <span class="foot-page-name">WePlay & café</span>
            <span class="foot-page-copyright">&copy; We Play & Cafe, 2023. All rights reserved.</span>
        </div>
        
       
        <div class="social-media-icons">
            <a class="foot-page-icon" href="https://www.instagram.com/weplay_playground/" target="_blank">
                <img src="./assets/icons/instagram-old.png">
            </a>
            <a class="foot-page-icon" href="contactus@weplayofficial.com" target="_blank">
                <img src="./assets/icons/email-old.png">
            </a>
            <a class="foot-page-icon" href="https://www.facebook.com/profile.php?id=61558179361731" target="_blank">
                <img src="./assets/icons/facebook-old.png">
            </a>
        </div>
    </div>
</div>
