
<div class="header-container">  
  <div class="header-container-logo">
    <img src="./assets/pictures/WePlay & Cafe logo.png" class="header-logo" height="200px">
  </div>
  <div class="header-container-text">
    <div class="header-container-top">
      <div class="header-container-top-text">Welcome to WePlay & café</div>
    </div>
    <div class="header-container-bottom">
      <div class="header-container-bottom-text">A fun place for your kiddos and a relax place for you
        <img src="./assets/icons/tea.png" class="tea-icon" >
      </div>
    </div>
      
  </div>
  <div class="header-container-order">
    <div class="header-container-order-party">      
      <a href="#" routerLink = "book-a-party" class="btn header-container-order-button active" >
        <img src="./assets/icons/cake.png" class="book-party-icon" >
        Book a Party</a>
    </div>
    <div class="header-container-order-ticket">
      <a href="#" routerLink = "buy-tickets" class="btn header-container-order-button active" >
        <img src="./assets/icons/buy-ticket.png" class="book-party-icon" >
        Buy Tickets</a>
    </div>   
  </div>
    
</div>