

/* Media query for smaller screens */
@media screen and (max-width: 480px) {
    .header-container {
      flex-direction: row; /* Stack elements vertically on smaller screens */
    }
  
    .header-container-logo,
    .header-container-text,
    .header-container-order {
      flex: 1; /* Each section takes up the full width on smaller screens */
    }
  
    .header-container-logo,
    .header-container-order {
      flex-basis: auto; /* Reset the basis for header and footer */
    }
    .header-container-order-button{
       
        width:  calc(100% - 60px);
        height: calc(100% - 10px);
        font-size: 20px;
        border-radius: 14px;
        padding-top: 5px;
    }

    .header-container-top{
        font-size: calc(100% - 10px); }
  }


.header-container{
    display: flex;
    flex-direction: row;
    height:100%;
    
}

.header-container-logo{
    max-width: 10%;
    width: auto;
    height: 100%;
    flex: 0 0 auto;
}
.header-container-text{
    width: auto;
    flex: 1 1 auto;
    color:olive;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    
}
.header-container-order{
    width: auto;
    width: 30%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
}

.header-logo{
   
    padding-left: 10px;
    height: 80%;
    width: 80%;
}
.header-container-order-party{
    flex: 1 1 auto;
    align-self: center;
}
.header-container-order-ticket{
    flex: 1 1 auto;
    align-self: center;
}
.header-container-order-button {
    color: olive; 
    background-color:rgb(213, 124, 60);
    border-color:rgb(194, 110, 7);
    text-align: center;
    font-weight: 600;
    width: 280px;
    height: 70px;
    font-size: 30px;
    border-radius: 22px;
    padding-top: 10px;
}

.header-container-top{
    font-size: 40px;   
    height: 50%;
    text-align: center;
    flex: 0 0 auto;
}
.header-container-top-text{
    align-items: center;
}
.header-container-bottom{
    font-size: 22px;
    text-align: center;
    flex: 1 1 auto;
}
.header-container-top-text{  
    margin-top: 50px;
}
.tea-icon{
    height: 50px;
    padding-bottom: 10px;
}

