
<div class="header-container">  

   <div class="header-container-logo">
    <img src="./assets/pictures/WePlay & Cafe logo.png" class="header-logo">
  </div>
 <div class="header-container-text">
    <div class="header-container-top">
      <div class="header-container-top-text">Welcome to WePlay & café</div>
    </div>
    <div class="header-container-bottom">
  <!--     <div class="header-container-bottom-text">
        <p>A fun place for indoor play and birthday party</p>   
      </div> 
      <div class="header-container-bottom-text">
        <p class="text-title">where Kids play, birthdays shine, and you unwind</p>
        <span class="text-title">
          <img src="./assets/icons/tea.png" class="tea-icon" >
        </span>
      </div> -->
    </div>      
  </div> 
  <div class="header-container-order">
    <div class="header-container-order-party">      
      <a href="#" routerLink = "book-a-party" class="btn header-container-order-button active" >
        <img src="./assets/icons/cake.png" class="book-party-icon" >
        Book a Party</a>
    </div>
    <div class="header-container-order-party">
      <a href="#" routerLink = "buy-tickets" class="btn header-container-order-button active" >
        <img src="./assets/icons/buy-ticket.png" class="book-party-icon" >
        Buy Tickets</a>
    </div>   
  </div>
</div>
  <div class="main-bar">
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light main-nav-bar">
          <div class="container-fluid justify-content-center">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
                    aria-expanded="false" aria-label="Toggle navigation" (click)="clickNavbarButton()">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapsed navbar-collapse" >
              <div class="navbar-nav">
                <a class="nav-link active nav-link-tab" aria-current="page" href="#" routerLink = "home" (click)="closeNavbar()">
                  <span class="nav-link-tab-title">Home</span></a>
                <a class="nav-link nav-link-tab" href="#" routerLink = "price" (click)="closeNavbar()" >
                  <span class="nav-link-tab-title">Hours and Price</span></a>
                <a class="nav-link nav-link-tab" href="#" routerLink = "cafe" (click)="closeNavbar()" >
                  <span class="nav-link-tab-title">Cafe</span></a>
                <a class="nav-link nav-link-tab" href="#" routerLink = "gallery" (click)="closeNavbar()">
                  <span class="nav-link-tab-title">Gallery</span></a>
                <a class="nav-link nav-link-tab" routerLink = "contactUs" href="#" (click)="closeNavbar()">
                  <span class="nav-link-tab-title">Contact Us</span></a>
              </div>
            </div>
          </div>
        </nav>
 </div>
     
