

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .header-container-top{
        font-size: 15px;  
    }
    .header-container-text{
        display: none !important;
    }

    .header-container-order{  
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    .header-container-order-button {
        width: 80%;
        height: 40px;
        font-size: 13px;
        border-radius: 8px;
        padding-top: 5px;
    }

    .main-bar{
        width: 4em;
        flex-grow: 0;
        
    }

    .header-container{
        flex: 1;
    }

    .header-container-logo{
        width: 50%;
    }
    .header-container-order-party{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        margin-top: 1.5em;
    }

    .header-container-order-ticket{
        width: 100%;
        height: 50%; 
    }
    .book-party-icon{
        width: 2em;
        height: 100%;
    }
  }

  /* Media query for desktop/tablet screens */
@media screen and (min-width: 769px) {
 
    .header-container-top{
        font-size: 30px;  
    }

    .header-container-order{
        width: auto;
        width: 30%;
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
    }

    .header-container-order-button {
        width: 280px;
        height: 70px;
        font-size: 30px;
        border-radius: 22px;
        padding-top: 10px;
    }

    .main-bar{
        width: 100%;
        height: 3em;
    }

    .header-container-logo{
        max-width: 10%;
        width: auto;
        height: 100%;
        flex: 0 0 auto;
    }

    .nav-link-tab{
        color: olive;
        font-weight: bold;
        font-size: 20px;
        margin-left: 30px;
    }
 
  }

  /* General css for all screen sizes*/
  .header-container{
    display: flex;
    flex-direction: row;
    height:100%;
    
}
.header-container-text{
    width: auto;
    flex: 1 1 auto;
    color:olive;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    height: 100%;
    
}


.header-logo{
   
    padding-left: 10px;
    height: 80%;
    width: 80%;
}
.header-container-order-party{
    flex: 1 1 auto;
    align-self: center;
}
.header-container-order-ticket{
    flex: 1 1 auto;
    align-self: center;
}
.header-container-order-button {
    color: lemonchiffon; 
    background-color:rgb(213, 124, 60);
    border-color:rgb(194, 110, 7);
    text-align: center;
    font-weight: 600;
   
}

.header-container-top{  
    height: 50%;
    text-align: center;
    flex: 0 0 auto;
}
.header-container-top-text{
    align-items: center;
}
.header-container-bottom{
    font-size: 22px;
    text-align: center;
    flex: 1 1 auto;
}
.header-container-top-text{  
    margin-top: 50px;
}
.tea-icon{
    height: 50px;
    padding-bottom: 10px;
} 


nav{
    height: 100%;
    width: 100%;
}
nav a {
    align-items: center;
}
