<div class="home-page">
     <div class="home-page-carousel"> <!--  -->
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" >
            <div class="carousel-indicators" >
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">  <!-- -->
             <div class="carousel-item active"  data-bs-interval="10000"> 
                <div class="carousel-background " >
                    <img class="background-picture" src="./assets/pictures/birthday.jpg">
                   
                </div>
               
                <div class="carousel-caption d-md-block">
                   <div class="carousel-caption-title">Your family's happy place awaits!</div>
                    <a href="#" routerLink = "/book-a-party" class="btn order-button active" >                    
                        <span class="order-button-name">Reserve Party</span>
                      </a>
                </div>
              </div><!--  -->
              <div class="carousel-item" data-bs-interval="5000">
                <div class=" carousel-background" >
                    <img class="background-picture" src="./assets/pictures/ticket-background.jpg">
                </div>
               
                <div class="carousel-caption d-md-block">
                  <div class="carousel-caption-title">Escape the screen time trap and let your kids bloom. Visit WePlay & Cafe today!</div>
                    <a href="#" routerLink = "/buy-tickets" class="btn order-button active" >                   
                        <span class="order-button-name">Buy Tickets</span>
                    </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-background" >
                    <img class="background-picture" src="./assets/pictures/sign-background.jpg">
                </div>
                <div class="carousel-caption  d-md-block">
                  <div class="carousel-caption-title">Sign our waiver online for a quick check-in</div>
                    <a href="#" routerLink = "/buy-tickets" class="btn order-button active" >
                        <span class="order-button-name">Online Waiver</span>
                    </a>
                </div>
              </div>
            </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button> 
          </div>
    </div>
    <div class="home-page-content">
      <section id="one" class="main style1">
        <div class="container">
          <div class="row gtr-150">
            <div class="col-6 col-12-medium">
              <header class="major">
                <h2>WePlay & café<br/>
                  <h3>Where happy memories blossom, rainy or shine</h3></h2>
              </header>
              <p>{{pageContent[0]?.subtitle}}</p>
            </div>
            <div class="col-6 col-12-medium imp-medium">
              <span class="image fit"><img src="./assets/pictures/background.jpg" alt="" /></span>
            </div>
          </div>
        </div>
      </section>
      <section id="two" class="main style2">
        <div class="container">
          <div class="row gtr-150">
            <div class="col-6 col-12-medium imp-medium">
              <span class="image fit"><img src="./assets/pictures/background.jpg" alt="" /></span>
            </div>
            <div class="col-6 col-12-medium">
              <header class="major">
                <h2>Birthday Party<br />
                  <h3>Effortless for you, boundless joy for the kids, and unforgettable memories for all</h3></h2>
              </header>
              <p>{{pageContent[1]?.subtitle}}</p>
            </div>
         
          </div>
        </div>
      </section>
      <section id="three" class="main style1">
        <div class="container">
          <div class="row gtr-150">
            <div class="col-6 col-12-medium">
              <header class="major">
                <h2>Field Trips<br />
                  <h3>A Wonderland for Little Explorers, fun starts here</h3></h2>
              </header>
              <p>{{pageContent[2]?.subtitle}} <br>
                <br/>
                {{pageContent[3]?.subtitle}} <br>
                <br/>
                {{pageContent[4]?.subtitle}}</p>
            </div>
            <div class="col-6 col-12-medium imp-medium">
              <span class="image fit"><img src="./assets/pictures/background.jpg" alt="" /></span>
            </div>
          </div>
        </div>
      </section>

      <section id="two" class="main style2">
				<div class="container">
					<div class="row gtr-150">
						<div class="col-6 col-12-medium">
							<ul class="major-icons">
								<li><span class="icon solid style1 major fa-code"></span></li>
								<li><span class="icon solid style2 major fa-bolt"></span></li>
								<li><span class="icon solid style3 major fa-camera-retro"></span></li>
								<li><span class="icon solid style4 major fa-cog"></span></li>
								<li><span class="icon solid style5 major fa-desktop"></span></li>
								<li><span class="icon solid style6 major fa-calendar"></span></li>
							</ul>
						</div>
						<div class="col-6 col-12-medium">
							<header class="major">
								<h2>Lorem ipsum dolor adipiscing<br />
								amet dolor consequat</h2>
							</header>
							<p>Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan adipiscing ipsum.</p>
							<p>Blandit faucibus proin. Ac aliquam integer adipiscing enim non praesent vis commodo nunc phasellus cubilia ac risus accumsan. Accumsan blandit. Lobortis phasellus non lobortis dit varius mi varius accumsan lobortis. Blandit ante aliquam lacinia lorem lobortis semper morbi col faucibus vitae integer placerat accumsan orci eu mi odio tempus adipiscing adipiscing adipiscing curae consequat feugiat etiam dolore.</p>
							<p>Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan adipiscing ipsum.</p>
						</div>
					</div>
				</div>
			</section>

      <section id="four" class="main style1 special">
				<div class="container">
					<header class="major">
						<h2>Play, Spark Joy, and Unleash Imagination</h2>
					</header>
					<p>Where Imagination Takes Flight in a World of Playful Wonders!</p>
					<div class="row gtr-150">
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="./assets/pictures/thank-you.png" alt="" /></span>
							<h3>Play Hub and Café</h3>
							<p>Kids can have a blast, and parents can unwind over delicious treats. Your family's happy place awaits.</p>
              <a href="#" routerLink = "/buy-tickets" class="btn order-button active  special" >                   
                <span class="order-button-name">Join The Fun</span>
            </a>
						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="./assets/pictures/thank-you.png" alt="" /></span>
							<h3>Birthday Paties</h3>
							<p>Effortless birthdays for you, boundless joy for the kids, and unforgettable memories for all!</p>
							<a href="#" routerLink = "/book-a-party" class="btn order-button special active" >                    
                <span class="order-button-name">Reserve Party</span>
              </a>
						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="./assets/pictures/thank-you.png" alt="" /></span>
							<h3>Playful Zone</h3>
							<p>A Wonderland for Little Explorers, fun starts here</p>
              <a href="#" routerLink = "/buy-tickets" class="btn order-button active  special" >                   
                <span class="order-button-name">Join The Fun</span>
            </a>
						</div>
					</div>
				</div>
			</section>

      <section id="five" class="main style2 special">
				<div class="container">
					<header class="major">
						<h2>Contact Us</h2>
					</header>
					<p></p>
					<ul class="actions special">
						<li><a href="#" class="button wide primary">Sign Up</a></li>
						<li><a href="#" class="button wide">Learn More</a></li>
					</ul>
				</div>
			</section>


        <div class="soft-play-area">

        </div>
        <div class="playland-cafe">

        </div>
        <div class="parties">

        </div>
        <div class="groud ticket">

        </div>
        <div class="map">

        </div>
    </div>


    
 <!--    <div class="home-page-images">
        <img src="./assets/pictures/background.jpg">
    </div> -->
</div>