<div class="home-page">
     <div class="home-page-carousel"> <!--  -->
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" >
            <div class="carousel-indicators" >
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">  <!-- -->
             <div class="carousel-item active"  data-bs-interval="10000"> 
                <div class="carousel-background " >
                    <img class="background-picture" src="./assets/pictures/birthday.jpg">
                   
                </div>
               
                <div class="carousel-caption d-md-block">
                   <div class="carousel-caption-title">Your family's happy place awaits!</div>
                    <a href="#" routerLink = "/book-a-party" class="btn order-button active" >                    
                        <span class="order-button-name">Reserve Party</span>
                      </a>
                </div>
              </div><!--  -->
              <div class="carousel-item" data-bs-interval="5000">
                <div class=" carousel-background" >
                    <img class="background-picture" src="./assets/pictures/ticket-background.jpg">
                </div>
               
                <div class="carousel-caption d-md-block">
                  <div class="carousel-caption-title">Escape the screen time trap and let your kids bloom. Visit WePlay & Cafe today!</div>
                    <a href="#" routerLink = "/buy-tickets" class="btn order-button active" >                   
                        <span class="order-button-name">Buy Tickets</span>
                    </a>
                </div>
              </div>
              <div class="carousel-item">
                <div class="carousel-background" >
                    <img class="background-picture" src="./assets/pictures/sign-background.jpg">
                </div>
                <div class="carousel-caption  d-md-block">
                  <div class="carousel-caption-title">Sign our waiver online for a quick check-in</div>
                    <a href="#" routerLink = "/buy-tickets" class="btn order-button active" >
                        <span class="order-button-name">Online Waiver</span>
                    </a>
                </div>
              </div>
            </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button> 
          </div>
    </div>
    <div class="home-page-content">
      <section id="one" class="main style1">
        <div class="container">
          <div class="row gtr-150">
            <div class="col-6 col-12-medium">
              <header class="major">
                <h2>WePlay & café<br/>
                  <h3>Where happy memories blossom, rainy or shine</h3></h2>
              </header>
              <p>{{pageContent[0]?.subtitle}}</p>
            </div>
            <div class="col-6 col-12-medium imp-medium">
              <span class="image fit"><img src="./assets/pictures/background.jpg" alt="" /></span>
            </div>
          </div>
        </div>
      </section>
      <section id="two" class="main style2">
        <div class="container">
          <div class="row gtr-150">
            <div class="col-6 col-12-medium imp-medium">
              <span class="image fit"><img src="./assets/pictures/background.jpg" alt="" /></span>
            </div>
            <div class="col-6 col-12-medium">
              <header class="major">
                <h2>Birthday Party<br />
                  <h3>Effortless for you, boundless joy for the kids, and unforgettable memories for all</h3></h2>
              </header>
              <p>{{pageContent[1]?.subtitle}}</p>
            </div>
         
          </div>
        </div>
      </section>
      <section id="three" class="main style1">
        <div class="container">
          <div class="row gtr-150">
            <div class="col-6 col-12-medium">
              <header class="major">
                <h2>Field Trips<br />
                  <h3>A Wonderland for Little Explorers, fun starts here</h3></h2>
              </header>
              <p>{{pageContent[2]?.subtitle}} <br>
                <br/>
                {{pageContent[3]?.subtitle}} <br>
                <br/>
                {{pageContent[4]?.subtitle}}</p>
            </div>
            <div class="col-6 col-12-medium imp-medium">
              <span class="image fit"><img src="./assets/pictures/background.jpg" alt="" /></span>
            </div>
          </div>
        </div>
      </section>
      <app-price></app-price>
      <section id="five" class="main style1 special">
				<div class="container">
					<header class="major">
						<h2>Play, Spark Joy, and Unleash Imagination</h2>
					</header>
					<p>Where Imagination Takes Flight in a World of Playful Wonders!</p>
					<div class="row gtr-150">
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="./assets/pictures/soft play 2.PNG" alt="" /></span>
							<h3>Toddler Soft Play Area</h3>
							<p></p>        
						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="./assets/pictures/Sand pit.PNG" alt="" /></span>
							<h3>Sand Pit Area</h3>
							<p></p>

						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="./assets/pictures/challenge course.PNG" alt="" /></span>
							<h3>Warrior Challenge Courses</h3>
							<p></p>

						</div>
					</div>
          <div class="row gtr-150">
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="./assets/pictures/dream land.PNG" alt="" /></span>
							<h3>The Dream Land</h3>
							<p></p>
  
						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="./assets/pictures/dream land 2.PNG" alt="" /></span>
							<h3>Our Cafe Area</h3>
							<p></p>

						</div>
						<div class="col-4 col-12-medium">
							<span class="image fit"><img src="./assets/pictures/slide.PNG" alt="" /></span>
							<h3>Our Birthday Party Rooms</h3>
							<p></p>

						</div>
					</div>
				</div>
			</section>
      <app-contact-us></app-contact-us>
    </div>  
 <!--    <div class="home-page-images">
        <img src="./assets/pictures/background.jpg">
    </div> -->
</div>