.home-page{
    background-image: url("src\assets\pictures\background.jpg");
    background-color:  #FFF8F2;
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: absolute;
    width: 100%;
}