@media screen and (max-width: 736px) {
    
	.container {
		max-width: 100% !important;
		width: 100% !important;
	}

    .row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

		.row > * {
			box-sizing: border-box;
		}
		.row > .col-12-medium {
			width: 100%;
		}

		.row.gtr-150 {
			margin-top: 0;
			margin-left: -3em;
		}

			.row.gtr-150 > * {
				padding: 0 0 0 3em;
			}

			.row.gtr-150.gtr-uniform {
				margin-top: -3em;
			}

				.row.gtr-150.gtr-uniform > * {
					padding-top: 3em;
				}

		.row > .imp-medium {
			order: -1;
		}
		.row {
			margin-top: 0;
			margin-left: -2em;
		}

			.row > * {
				padding: 0 0 0 2em;
			}

}


@media screen and (min-width: 737px) {

	.container {
		max-width: calc(100% - 3em);
	}

    .row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

		.row > * {
			box-sizing: border-box;
		}

		.row {
			margin-top: 0;
			margin-left: -2em;
		}

			.row > * {
				padding: 0 0 0 2em;
			}

			.row.gtr-uniform {
				margin-top: -2em;
			}

				.row.gtr-uniform > * {
					padding-top: 2em;
				}

		.row.gtr-150 {
			margin-top: 0;
			margin-left: -3em;
		}

			.row.gtr-150 > * {
				padding: 0 0 0 3em;
			}

			.row.gtr-150.gtr-uniform {
				margin-top: -3em;
			}

				.row.gtr-150.gtr-uniform > * {
					padding-top: 3em;
				}
}


/* Container */

.container {
    margin: 0 auto;
    max-width: calc(100% - 4em);
    width: 80em;
}

header.major {
	margin: 0 0 1em 0;
}

	header.major:after {
		background: rgba(144, 144, 144, 0.5);
		content: '';
		display: inline-block;
		height: 1px;
		margin-top: 1.5em;
		width: 6em;
	}

	header.major h2 {
		margin: 0;
		font-weight:600;
	}
    header h2 + p {
        font-size: 1.25em;
        line-height: 1.5em;
        margin-top: -1em;
    }
    
    header.special {
        text-align: center;
    }

/* Main */

.main {
	padding: 6em 0 4em 0 ;
}

	.main.style1 {
		background-color: blanchedalmond;
		color: #664d03;
		
	}

	.main.style2 {
		background-color:#FFF8F2;
		color: #664d03;
		background-attachment: fixed;
		/* background-image: url("./assets/pictures/background.jpg"); */
		background-size: cover;
	}

/* Section/Article */

section.special, article.special {
	text-align: center;
}

