@import '~bootstrap/dist/css/bootstrap.css';

@media (max-width: 768px) {

}

@media (max-height: 600px) {

}

.book-a-party-page{
    background-image: url("src\assets\pictures\background.jpg");
    height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    position: absolute;
    width: 100%;
    align-self: center;
}
.card-content{
    display: flex;
    flex-direction: column;
}
.title{   
    font-size: 16px;
    font-weight: bold;
    text-emphasis-color: olive;
    color: olive;
}
.card-content{  
    left: 35%;
    height:inherit;
    background-color:  #FFF8F2;
    width: 800px;
}
.party-page-button{
    color: olive; 
    background-color: khaki;

    text-align: center;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;  
}
.next-button{
    width: 100px;
    height: 40px;
   
}
.more-info-button{
    width: 120px;
    height: 40px; 
    background-color: #FFF8F2;
}
.party-page-button:hover{
    background-color:rgb(213, 124, 60);
    border-color:rgb(194, 110, 7);
}
.book-a-party-card-body{
    display: flex;
    flex-direction: column;
}
.book-a-party-card-title{
    text-align: center;
    height: 35px;
    line-height: 35px;
    flex: 0 0 auto;
}
.book-a-party-content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 40px;
    height: 100%;
    max-height: 100%;
}
.book-a-party-package{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 350px;
    margin-bottom: 35px;;
    color: olive;
    background-color:khaki;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    transition: all .4s ease;
}

.book-a-party-package:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
  }

  .package-top{
    height: 40px;
    display: flex;
    flex-direction: row ;
  }
  .package-buttom{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    flex: 1 1 auto;
  }
  .package-top-title{
    width: 150px;
    margin-top: 10px;
    margin-left: 15px;
    flex: 0 0 auto;
    font-size: 20px;
    font-weight: bold;
  }
  .package-top-checkbox{
    flex: 1 1 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
  }
  .package-form-checkbox{
    margin-left: auto;
    margin-right: 20px;
    border-radius: 0.25em;
    width: 25px;
    height: 25px;
  }
  .package-form-checkbox:checked{
    background-color: rgb(213, 124, 60);
    border-color: rgb(194, 110, 7);
  }
  .package-price-hour{
    font-size: 16px;
    font-weight: 500;
    font-style: oblique;
  }
  
.book-a-party-btn{
    flex: 0 0 auto;
    height: 55px;
    align-self: end;
    padding-right: 35px;
}
.package-buttom{
    display: flex;
    flex-direction: row;
}
.package-info{
    width: 200px;
    align-self: center; 
}
.package-more-info{
    flex: 1 1 auto;
    align-self: center;
}

  .custom-popover {
    width: 500px;
    background-color:khaki;
    color: olive;
  }

  .custom-popover {
    background: aliceblue;
    font-size: 125%;
    width: 500px;
  }
  .custom-popovers .arrow::after {
    border-top-color: aliceblue;
  }

  .popover-content{
    font-size: 18px;
    font-style: italic;
    color: olive;
  }
  .popover-content-line{
    height: 30px;
    margin-bottom: 8px;
  }
::ng-deep .popover-body {
    width: 600px !important;
  
   }
::ng-deep .popover{
    max-width: 600px;
    width: 600px !important;
    background-color: azure;
   }
::ng-deep .popover-header{
  background-color:rgb(213, 124, 60);
  font-size: 22px; 
  color:black;
}


  
