

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .card-content{ 
    width: 100%;
   }

   .book-a-party-page{  
    width: 100%;
   }

   ::ng-deep .popover{
    max-width: 300px;
    width: 300px !important;
    border: 1px solid #d3e2e8;
   }

   ::ng-deep .popover-body {
    width: 100% !important;
    padding-top: 10px;
    padding-left: 0px;
  
   }

   .popover-content-line{
    width: 100%;
    margin-top: 8px;
   }
  li{
    text-wrap: wrap;
  }
}
/* Media query for desktop/tablet screens */
@media screen and (min-width: 768px) {
  .book-a-party-page{  
    width: 768px;
   }
  .card-content{ 
    width: 100%;
   }

   ::ng-deep .popover-body {
    width:100% !important;
  
   }
    .popover-content-line{
      height: 30px;
      margin-bottom: 8px;
    }

    ::ng-deep .popover{
      max-width: 600px;
      width: 600px !important;
      border: 1px solid #d3e2e8;
     }

 
}

.book-a-party-page{  
  display: flex;
  flex-direction: column;
}
.card-content{
    display: flex;
    flex-direction: column;
}
.title{   
    font-size: 16px;
    font-weight: bold;
    text-emphasis-color: #4878a3;
    color: #4878a3;
}
.card-content{  
    height:inherit;
    background-color:  #FFF8F2;
   
}
.party-page-button{
    color: #4878a3;
    background-color:#ffae00;;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;  
}
.next-button{
    width: 100px;
    height: 40px;
   
}
.more-info-button{
    width: 120px;
    height: 40px; 
    background-color: #FFF8F2;
}
.party-page-button:hover{
    background-color:#ffae00;
    border-color:#ffae00;
}
.book-a-party-card-body{
    display: flex;
    flex-direction: column;
}
.book-a-party-card-title{
    text-align: center;
    height: 35px;
    line-height: 35px;
    flex: 0 0 auto;
}
.book-a-party-content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 40px;
    height: 100%;
    max-height: 100%;
}
.book-a-party-package{
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 350px;
    margin-bottom: 35px;;
    color: #ffae00;
    background-color:#4878a3;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
    transition: all .4s ease;
}

.book-a-party-package:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
  }

  .package-top{
    height: 40px;
    display: flex;
    flex-direction: row ;
  }
  .package-buttom{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    flex: 1 1 auto;
  }
  .package-top-title{
    width: 150px;
    margin-top: 10px;
    margin-left: 15px;
    flex: 0 0 auto;
    font-size: 20px;
    font-weight: bold;
  }
  .package-top-checkbox{
    flex: 1 1 auto;
    align-self: center;
    display: flex;
    flex-direction: column;
  }
  .package-form-checkbox{
    margin-left: auto;
    margin-right: 20px;
    border-radius: 0.25em;
    width: 25px;
    height: 25px;
  }
  .package-form-checkbox:checked{
    background-color:#ffae00;
    border-color: #ffae00;
  }
  .package-price-hour{
    font-size: 16px;
    font-weight: 500;
    font-style: oblique;
  }
  
.book-a-party-btn{
    flex: 0 0 auto;
    height: 55px;
    align-self: end;
    padding-right: 35px;
}
.package-buttom{
    display: flex;
    flex-direction: row;
}
.package-info{
    width: 200px;
    align-self: center; 
}
.package-more-info{
    flex: 1 1 auto;
    align-self: center;
}
  .custom-popovers .arrow::after {
    border-top-color: aliceblue;
  }

  .popover-content{
    font-size: 18px;
    font-family: 'JosefinSans', sans-serif;
  
  }
 

::ng-deep .popover-header{
  background-color:#ffae00;
  font-size: 22px; 
  color:black;
}


  
