<div class="book-a-party-page">
    <div class="card card-content">      
        <div class="card-body book-a-party-card-body">
            <div class="card-title title book-a-party-card-title">
                <p>SELECT YOUR PACKAGE</p>
            </div>
            <div class="book-a-party-content">
                <div class="book-a-party-package">
                    <div class="package-top">
                        <span class="package-top-title">Gold Package</span>
                        <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
                    </div>
                    <div class="package-buttom">
                        <Span class="package-price">$400</Span>
                        <span class="package-hour">3 hours</span>
                        <div class="package-more-info">
                            <button type="button" 
                                    class="btn btn-secondary" 
                                    data-bs-container="body" 
                                    data-bs-toggle="popover" 
                                    data-bs-placement="q"
                                    data-bs-title="q"
                                    data-bs-content="sdf"
                                   
                                   >
                                More Info
                              </button>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="book-a-party-btn"> 
                <a href="#" class="btn next-button">Next</a>
            </div>
        </div>     
</div>
