
/* Media query for smaller screens */
@media screen and (max-width: 932px) {
  .page-header{
    display: flex;
    flex-direction: row;
  }
  .page-footer{
    background-color:burlywood;
  
}
  }
/* Media query for desktop/tablet screens */
@media screen and (min-width: 933px) {
  .page-footer{
    background-color:burlywood;
    height: 5%;
    line-height: 5%;
}
  }

  .page-header{
    background-color: #FFF8F2;
    color: #fff;
  }
  
  .wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto !important; /* Enable vertical scrolling if content overflows */
    overflow-x: hidden;
    /*  max-height: calc(100vh - 160px); Calculate the maximum height of the main content area */
    max-height: 100vh;
}
.page-main{
  display: flex;
  flex-direction: column;
}
