
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .page-header{
    height: 10em;
    line-height: 10em;
    display: flex;
    flex-direction: row;
  }
  }
/* Media query for desktop/tablet screens */
@media screen and (min-width: 769px) {
  .page-header{
    height: 18%;
    line-height: 18%;
  }
  
  }


  .wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto !important; /* Enable vertical scrolling if content overflows */
    overflow-x: hidden;
    /*  max-height: calc(100vh - 160px); Calculate the maximum height of the main content area */
    max-height: 100vh;
}
.page-header{
    background-color: #FFF8F2;
    color: #fff;

}
.page-main{
  margin: 20px; 
  display: flex;
  flex-direction: column;
}
.page-footer{
    background-color: blanchedalmond;
    height: 5%;
    line-height: 5%;
}