
/* General CSS for all screen sizes */
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto !important; /* Enable vertical scrolling if content overflows */
  overflow-x: hidden;
  max-height: 100vh;
}

.page-header {
  background-color: #FFF8F2;
  color: #fff;
}

.page-main {
  display: flex;
  flex-direction: column;
}

.page-footer {
  background-color: #4878a3;
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .page-header{
    display: flex;
    flex-direction: row;
  }
  .page-footer{
    background-color:#4878a3;
  
}
  }

  @media (min-width: 768px) and (max-width: 1024px){

  }
/* Media query for desktop/tablet screens */
@media screen and (min-width: 1025px) {
  .page-footer{
    background-color:#4878a3;
    height: 5%;
    line-height: 5%;
}
  }

 