<section id="four" class="main style2 special">
    <div class="container">
        <header class="major">
            <h2>General Admission</h2>
        </header>
        <p>Monday - Sunday</p>
        <p>10:00 AM - 8:00 PM</p>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">
                <span class="image fit price-section">
                    <h3 class = "text-shadow" >Single Daily Admission</h3>
                    <h3>${{price.daily}}</h3>
                    <p>12 months and older</p>
                    <p>Under 12 months <strong>FREE</strong> with one child admission</p>
                    <P>One adult with one child admission is <strong>FREE</strong></P>
                    <P>Additional adult $8</P>
                    <p> <strong>Unlimited Day Pass</strong></p>      
                </span>
                <a href="#" routerLink = "/buy-tickets" class="btn order-button active  special join-the-fun" >                   
                    <span class="order-button-name">Join The Fun</span>
                </a>
            </div>
            <div class="col-4 col-12-medium">
                <span class="image fit price-section">
                    <h3  class = "text-shadow" >Monthly Pass</h3>
                    <p>one Kid: <strong>${{price.monthly_one}}</strong></p>
                    <p>Two Kids: <strong>${{price.monthly_two}}</strong> </p>
                    <p>Three or four kids: <strong>${{price.monthly_family}}</strong></p>
                    <h3  class = "text-shadow" >3 Month Pass</h3>
                    <p>one Kid: <strong>${{price.three_month_one}}</strong></p>
                    <p>Two Kids: <strong>${{price.three_month_two}}</strong> </p>
                    <p>Three or four kids: <strong>${{price.three_month_family}}</strong></p>
                    <hr>
                    <p> <strong>Unlimited Entry</strong></p>
                    <p> <strong>NO restrictions on weekend</strong></p>
                    <p> <strong>Include Events and Classes admission</strong></p>
                    <p> <strong>Include TWO adults</strong> with one family</p>
                    <P>Additional adult $5 per entry</P>
                </span>
            
                <a href="#" routerLink = "/book-a-party" class="btn order-button special active join-the-fun" >                    
                    <span class="order-button-name">Join The Fun</span>
                 </a>
            </div>
            <div class="col-4 col-12-medium">
                <span class="image fit price-section">
                    <h3 class = "text-shadow" >Group Rate</h3>
                    <p>Up to 10 Kids: <strong>${{price.group_10}}</strong></p>
                    <p>Up to 15 Kids: <strong>${{price.group_15}}</strong></p>
                    <p>Up to 20 Kids: <strong>${{price.group_20}}</strong></p> 
                    <p>More than 20 Kids: <strong>${{price.group_more_20}} per kid</strong></p>               
                    <P>One adult with one child admission are <strong>FREE</strong></P>
                    <P>Additional adult $5</P>
                    <p>10 AM - 8 PM. Please call us to reserve</p>
                    <p><strong>Unlimited Day Pass</strong></p> 
                    <p><strong>Weekdays ONLY</strong></p>  
                    <p><strong>Call us to reserve our whole facility </strong></p> 
                </span>  
                <a href="#" routerLink = "/buy-tickets" class="btn order-button active  special join-the-fun" >                   
                    <span class="order-button-name">Join The Fun</span>
                </a>
            </div>
        </div>
    </div>
</section>
