@import url(../../../assets/css/shared-style.css);

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
	.join-the-fun{
		margin-bottom: 20px;
	}
}
@media (min-width: 769px) and (max-width: 1024px){

}
/* Media query for desktop/tablet screens */
@media screen and (min-width: 1025px) {


}
.text-shadow{
	text-shadow: 1px 1px 1px #664d03, 0 0 25px rgb(194,110,7), 0 0 5px rgb(194,110,7);
}
.price-section{
	background-color: #FFF8F2;
	height: 600px;
	padding-top: 25px;
    border-radius: 30px;
	border-style: outset;
	border-width: 5px;
}

hr {
	border: 0;
	border-top: 2px solid #8c8b8b;
	margin: 20px 0;
}

.align-left {
	text-align: left;
	padding-left: 15px;
  }

  .order-button-name{
	font-weight: bolder;
  }

  .join-the-fun{
	margin-bottom: 8px;
  }