<section id="four" class="main style2 special">
    <div class="container">
        <header class="major">
            <h2>General Admission</h2>
        </header>
        <p>Monday - Sunday</p>
        <p>10:00 AM - 8:00 PM</p>
        <div class="row gtr-150">
            <div class="col-4 col-12-medium">
                <span class="image fit price-section">
                    <h3 class = "text-shadow" >Single Daily Admission</h3>
                    <h3 style="padding-top: 15px; padding-bottom: 15px;">${{price.daily}}</h3>
                    <p class=" align-left"><strong>For Children 6 Months & Older</strong></p>
                    <p class=" align-left"> <strong>Children Under 6 Months: </strong> FREE with a paid child admission</p>
                    <P class=" align-left"><strong>One Adult Included : </strong>with each child admission</P>
                    <P class=" align-left"><strong>Additional Adults:</strong> Only $8 each</P>
                    <p style="padding-top: 15px; padding-bottom: 15px;"><strong>Enjoy a Full 3-Hour Play Pass!</strong></p> 
                    <a href="#" routerLink = "/card-payment" class="btn order-button active  special join-the-fun" >                   
                        <span class="order-button-name text-shadow">Buy Tickets</span>
                    </a>     
                </span>
                
            </div>
            <div class="col-4 col-12-medium">
                <span class="image fit price-section">
                    <h3  class = "text-shadow" >Monthly Pass</h3>
                    <p>1 Child: <strong>${{price.monthly_one}}</strong></p>
                    <p>2 Children: <strong>${{price.monthly_two}}</strong> </p>
                    <p>3 Children: <strong>${{price.monthly_three}}</strong></p>
                    <p>4 Children: <strong>${{price.monthly_four}}</strong></p>
                   
                    <hr>
                    <p class=" align-left"> <strong>Unlimited Entry</strong>– Come as often as you like!</p>
                    <p class=" align-left"> <strong>NO restrictions</strong>– Enjoy any day, including weekends.</p>
                    <p class=" align-left"> <strong>Access to Events & Classes</strong> – All included!</p>
                    <p class=" align-left"> <strong>Two Adults Included</strong>- with each family pass.</p>
                    <P class=" align-left"> <strong>Additional Adults:</strong>- $8 per entry.</P>
                    <a href="#" routerLink = "/book-a-party" class="btn order-button special active join-the-fun" >                    
                        <span class="order-button-name text-shadow">Join The Fun</span>
                     </a>
                </span>
                         
            </div>
            <div class="col-4 col-12-medium">
                <span class="image fit price-section">
                    <h3 class = "text-shadow" >Group Rate</h3>
                    <p>More than 10 Children: <strong>${{price.group_10}} per child</strong></p>
                    <p>More than 15 Children: <strong>${{price.group_15}} per child</strong></p>                          
                    <P class=" align-left"><strong>One Adult FREE</strong> with each child’s admission</P>
                    <P class=" align-left"> <strong>Additional Adults:</strong> $8 each</P>
                    <p class=" align-left"><strong>Weekdays ONLY </strong>– Available Monday to Friday</p> 
                    <p class=" align-left"><strong>Enjoy a Full 3-Hour Play Pass!</strong></p>  
                    <hr>

                    <p class=" align-left"><strong>Looking for a Private Event?</strong></p> 
                    <p class=" align-left"><strong>Rent Our Entire Facility!</strong> Perfect for birthdays or special occasions.</p>  
                    <p class=" align-left"><strong>Call Us</strong> to reserve the whole space and make your event unforgettable!</p> 
                    <a href="#" routerLink = "/card-payment" class="btn order-button active  special join-the-fun" >                   
                        <span class="order-button-name text-shadow">Buy Tickets</span>
                    </a>
                </span>  
              
            </div>
        </div>
    </div>
</section>
