<div class="main">

      <!-- dance video -->
      <video controls autoplay loop width="480px" >
            <source src="/assets/videos/dance.mp4"  type = "video/mp4" />
      </video>
      <!-- This song holds a special place in my heard as it was written to express the emotions of reunification for
      sepatated families that traduring Korean Civil War  -->
      <iframe width="600" height="600" src="https://www.youtube.com/embed/kAcZ2tgYWTA?si=CZBWeM0cd-cL_gxB" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; loop; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
      </iframe>
     <!--<router-outlet>is used for navigation between one page to another.-->
      <router-outlet></router-outlet>
</div>
